@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #77b255;
    overflow-x: hidden;
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}

.rectangle {
    position: absolute;
    transform: rotate(180deg);
    background-color: #0d214b;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
}
